.profile__edit-button{
  display: flex;
  align-self: center;
  margin-left: 18px;
  margin-right: 18px;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../../../images/pen.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease;
  flex-shrink: 0;
}

.profile__edit-button:hover{
  opacity: 0.6
}

@media screen and (max-width: 768px) {
  .profile__edit-button{
    width: 18px;
    height: 18px;
  }
}
