.popup__input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 22px;
  padding: 8px 0;
}
