.profile{
  max-width: 880px;
  margin: 40px auto 0;
  display: flex;
}


@media screen and (max-width: 880px) {
  .profile{
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 768px) {
  .profile{
    flex-direction: column;
  }
}
