.header__logo{
  display: block;
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease;
}

.header__logo:hover{
  opacity: .6;
}

@media screen and (max-width: 880px) {
  .header__logo{
    width: 103.74px;
    height: 24.4px;
  }
}
