.header{
  max-width: 880px;
  margin: 46px auto 0;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);;
}

@media screen and (max-width: 880px) {
  .header{
    min-height: 56px;
    margin-top: 28px;
    padding-left: 27px;
  }
}
