.profile__add-button{
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  background-image: url(../../../images/plus.png);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease;
  flex-shrink: 0;
}

.profile__add-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__add-button{
    width: 282px;
    margin: 36px auto 0;
  }
}
