.profile__avatar {
  width: 120px;
  height: 120px;
  background-image: url(../../../images/kusto.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
}



@media screen and (max-width: 768px) {
  .profile__avatar {
    margin: auto;
  }
}
