.profile__info{
  display: grid;
  margin: 22px 0 0 30px;
  overflow: hidden;
  grid-template-columns: auto 150px;
  grid-template-rows: 55px auto;
}

@media screen and (max-width: 768px) {
  .profile__info{
    margin-left: 0;
  }
}
