.profile__info{
  display: grid;
  margin: 22px 18px 0 30px;
  grid-template-columns: auto max-content;
  grid-template-rows: 55px auto;
  column-gap: 18px;
}

@media screen and (max-width: 768px) {
  .profile__info{
    column-gap: 10px;
    margin-top: 27px;
    margin-right: 0;
    margin-left: 0;
    grid-template-columns: auto auto;
    grid-template-rows: 33px auto;
    justify-content: center;
  }
}
