.card__delete{
  background-image: url(../../../images/delete.svg);
  background-color: transparent;
  background-size: contain;
  width: 18px;
  height: 19px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 1;
  transition: opacity .5s ease;
}

.card__delete:hover{
  opacity: .6;
}
