.card__heart{
  background-image: url(../../../images/heart.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 19px;
  background-size: contain;
  align-self: center;

  opacity: 1;
  transition: opacity .5s ease;
  cursor: pointer;
}


.card__heart:hover{
  opacity: 0.5;
}
